*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./img/fondo.jpg");
}

nav{
    display: flex;
    height: 60px;
    align-items: center;
    background: rgba(85, 107, 47, 0.61);
    
}

#logo {
   width: 30%;
}

.nav-menu {
    width: 70%;
    align-items: right;
}

.nav-items{
    margin: 20px 40px 20px 10px;
    padding: 5px 15px;
    font-size: 1.1em;
    color: #000000;
    border-radius: 7px;
}

.titulo {
    width: 100%;
    text-align: center;
}

.titulo img{
    width: 90%;
}

.productos-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    
}

.productos-menu2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.sabias img{
    width: 100%;
    height: 80vh;
    
}


.producto{
    width: 90%;
    
}

.producto img{
    width: 100%;
}

.producto:hover {
transform: scale(1.2,1.2);
}

footer{
    display: inline-block;
    text-align: center;
    background-color: rgba(158, 142, 252, 0.753);
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    }

.img-ligas{
        display: inline;
        flex-shrink: initial;
    }
    
.ligas img {
        width: 4%;
        margin: 0 60px;
    }